.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .output1 {
    border: 1px solid #000000;
    width: 60%;
    height: 300px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .action {
    margin: 10px;
  }
  
  button {
    cursor: pointer;
  }